/* Login.css */

.formulario-login-container {
    
    background-color: rgb(77, 75, 75);
    margin: auto;
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 18px;
    color: #333;
  }
  
  .labels {
    font-weight: 400;
    color: aliceblue;
  }
  
  /* Otros estilos que desees agregar para los diferentes elementos del formulario */
  