.formulario-container{
    margin-top: 5em;
    background-color: rgb(77, 75, 75);
    margin: auto;
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 18px;
    color: #333;
}

.labels{
    font-weight: 400;
    color:aliceblue
}
