.img-poster{
    width: 24rem;
}

.edit-button {
    color: blue;
    background-color: transparent;
    border: none;
  }
  
  .delete-button {
    color: red;
    background-color: transparent;
    border: none;
  }

  @media only screen and (max-width: 796px){
    .img-poster{
       width: 15rem;
    }
    .show-review{
      display: flex;
      flex-direction: column;
    }
  }
  